.user-information-wrapper {
    justify-self: end;
    display: flex;
    background-color: green;
    width: 25vw;
    height: 25vh;
    align-self: center;
    margin-right: 20px;
}

.user-information-data {
    background-color: teal;
    display: inline-block;
    width: 15vw;
    height: 25vh;
}

.user-information-image-wrapper {
    display: flex;
    flex-direction: column;
}

.user-information-image {
    /* width: 7vw; */
    border-radius: 90px;
}