@import "./Vars.css";

.user-information-wrapper {
    justify-self: end;
    display: flex;
    background-color: green;
    width: var(--user-information-width);
    height: var(--user-information-height);
    align-self: center;
    margin-right: 20px;
}

.user-information-data {
    background-color: teal;
    display: inline-block;
    width: var(--user-information-data-width);
    height: var(--user-information-data-height);
}

.user-information-image-wrapper {
    display: flex;
    flex-direction: column;
}

.user-information-image {
    border-radius: 90px;
}